<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-with, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="css/fontastic.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Kaushan+Script|Poppins")
    title Marinera 2018
  body#page-top
    audio(src="files/quevivaeten.mp3", autoplay)
    nav.navbar.navbar-expand-lg.navbar-dark.fixed-top#mainNav
      .container
        a(href="#").navbar-brand.js-scroll-trigger ADEUCE 2018
          img(src="img/adeuce.png",width="40px",height="40px") 
        button(type="button",data-toggle="collapse",data-target="#navbarResponsive",aria-controls="navbarResponsive",aria-expanded="false",aria-label="Toggle navigation").navbar-toggler.navbar-toggler-right
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarResponsive
          ul.navbar-nav.ml-auto
            li.nav-item
              a(href="#datos").nav-link.js-scroll-trigger SOMOS ADEUCE
            li.nav-item
              a(href="#bases").nav-link.js-scroll-trigger BASES
            li.nav-item
              a(href="#premios").nav-link.js-scroll-trigger PREMIOS
            li.nav-item
              a(href="#concursos").nav-link.js-scroll-trigger CONCURSOS
            li.nav-item
              a(href="#contacto").nav-link.js-scroll-trigger CONTACTO
    span.up-web.icon-up
    header.intro-header
      .intro-body
        .container
          .row
            .col-lg-8.mx-auto
              h5 I Concurso Nacional de Marinera Norteña
              h1.brand-heading “Para sacarse el Sombrero”
              p.intro-text 20 de Julio 2018
              p.intro-text Ciudad Eten - Lambayeque
              
              a(href="#contacto").btn.btn-primary.js-scroll-trigger Inscribirme 
                span.icon-pen
    section#datos.datos-section.text-center
      .container
        .row
          .col-lg-8.mx-auto
            h2 SOMOS ADEUCE
            hr.bg-light
            p 
              a(href="#") Asociacion de Estudiantes Universitarios de Ciudad Eten 
              | es una Institucion sin animo de lucro, que busca apoyar y seguir cultivando el amor hacia nuestra ciudad y hacia sus costumbres.
            p ADEUCE lleva realizando una variedad de eventos culturales en nuestra localidad, y en esta oportuniad realizamos el IV Concurso Departamental de Marinera Norteña.
            p Esperamos su participacion en este magno evento.
    section#bases.bases-section.text-center
      .container
        .row
          .col-lg-12.mx-auto
            h2 BASES DE CONCURSO
            hr.bg-light
          .col-lg-6.mx-auto.textos-bases
            p El IV Concurso Departamental de Marinera Norteña "Para Sacarse el Sombrero" se realizará el dia domingo 20 de enero a las 2:00 PM en el Parque Ecológico de Ciudad Eten.
            p Podrán participar todas las personas que se identifiquen con los objetivos en las bases del concurso y que acepten las mismas. Se recomienda leer detenidamente las bases del concurso.
          .col-lg-6.mx-auto.textos-bases
            p Se ruega a los participantes, puntualidad y ceñirse rigurosamente a las bases contenidas en esta sección.
            p Participa!! .. Es hora de demostrar y pulir cada uno de tus movimientos. 
            div
              a(href="#").btn.btn-danger.js-scroll-trigger Descargar Bases* 
                i.icon-download  
            span *Cualquier reclamo debe fundamentarse en base a este texto
    section#premios.premios-section.text-center
      .container
        .row
          .col-lg-12.mx-auto
            h2 PREMIOS
            hr.bg-light
        .row
          div(style="width: 25rem").card.col-lg-4.col-md-4.col-xs-12.mx-auto#img-cat
            img(src="img/card-cat-infantil.jpg").card-img-top
            .card-body#card-infantil
              h5.card-title CATEGORIA INFANTIL
              p.card-text.text-left 
                b PRIMER PUESTO: 
                | s/. 300.00 + Banda, Escapulario, Medalla y Diploma.
              p.card-text.text-left
                b SEGUNDO PUESTO: 
                | s/. 150.00	+ Premio Sorpresa, Medalla y Diploma.
              p.card-text.text-left 
                b TERCER PUESTO: 
                | Premio Sorpresa, Medalla y Diploma.
          div(style="width: 25rem").card.col-lg-4.col-md-4.col-xs-12.mx-auto
            img(src="img/card-cat-junior.jpg").card-img-top
            .card-body#card-junior
              h5.card-title CATEGORIA JUNIOR
              p.card-text.text-left
                b PRIMER PUESTO: 
                | s/. 500.00 + Banda, Sombrero Etenano, Medalla y Diploma.
              p.card-text.text-left 
                b SEGUNDO PUESTO: 
                | s/. 250.00	+ Premio Sorpresa, Medalla y Diploma.
              p.card-text.text-left 
                b TERCER PUESTO: 
                | Premio Sorpresa, Medalla y Diploma.
          div(style="width: 25rem").card.col-lg-4.col-md-4.col-xs-12.mx-auto
            img(src="img/card-cat-juvenil.jpg").card-img-top
            .card-body#card-juvenil
              h5.card-title CATEGORIA JUVENIL
              p.card-text.text-left 
                b PRIMER PUESTO: 
                | s/. 700.00 + Banda, Sombrero Etenano, Medalla y Diploma
              p.card-text.text-left 
                b SEGUNDO PUESTO: 
                | s/. 300.00	+ Premio Sorpresa, Medalla y Diploma.
              p.card-text.text-left 
                b TERCER PUESTO: 
                | Premio Sorpresa, Medalla y Diploma.
                      
    section#concursos.concursos-section.text-center
      .container
        .row
          .col-lg-8.mx-auto
            h2 CONCURSOS
            hr.bg-light
            h6 Amplia experiencia en Concursos Departamentales de Marinera
            .carousel.slide#concursos-carousel
              ol.carousel-indicators
                li(data-target="#concursos-carousel",data-slide-to="0").active
                li(data-target="#concursos-carousel",data-slide-to="1")
                li(data-target="#concursos-carousel",data-slide-to="2")
                li(data-target="#concursos-carousel",data-slide-to="3")
                li(data-target="#concursos-carousel",data-slide-to="4")
              .carousel-inner
                .carousel-item.active
                  img(src="img/carousel-1.jpg").col-md-6.col-md-12
                .carousel-item
                  img(src="img/carousel-2.jpg").col-md-6.col-md-12
                .carousel-item
                  img(src="img/carousel-3.jpg").col-md-6.col-md-12
                .carousel-item
                  img(src="img/carousel-4.jpg").col-md-6.col-md-12
                .carousel-item
                  img(src="img/carousel-5.jpg").col-md-6.col-md-12
              a(href="#concursos-carousel",role="button",data-slide="prev").carousel-control-prev
                span(aria-hidden="true").carousel-control-prev-icon
                span.sr-only Previous
              a(href="#concursos-carousel",role="button",data-slide="next").carousel-control-next
                span(aria-hidden="true").carousel-control-next-icon
                span.sr-only Next
            hr.bg-light
            p Somos una Asociacion sin animo de lucro*              
    section#contacto.contacto-section.text-center
      .container
        .row
          .col-lg-12.mx-auto
            h2 PRE-INSCRIPCION
            hr.bg-light
        .row
          .col-lg-7.mx-auto.col-xs-12
            form(action="email.php",method="POST")
                .form-row.text-left
                  .form-group.col-lg-6.col-md-6
                    label(for="inputVaron")
                      span.icon-male  Nombre de Varon
                    input(type="text",id="inputVaron", placeholder="Varon", required="required", class="validate").form-control
                  .form-group.col-lg-6.col-md-6
                    label(for="inputMujer")
                      span.icon-female  Nombre de Mujer
                    input(type="text",id="inputMujer", placeholder="Mujer", required="required", class="validate").form-control
                .form-row.text-left
                  .form-group.col-lg-6.col-md-6
                    label(for="inputEmail")
                      span.icon-email  Email
                    input(type="email",id="inputEmail", placeholder="Email", required="required", class="validate").form-control
                  .form-group.col-lg-6.col-md-6
                    label(for="inputTelefono")
                      span.icon-phone  Telefono
                    input(type="text",id="inputTelefono", placeholder="Telefono", required="required", class="validate").form-control
                .form-row.text-left
                  .form-group.col-lg-12
                    label(for="inputMensaje")
                      span.icon-text  Mensaje
                    textarea(id="inputMensaje",rows="3",placeholder="Escriba aqui un mensaje", class="validate").form-control
                .form-row.text-right
                  .form-grpup.col-lg-12
                    button(type="submit").btn.btn-primary  Enviar 
                      span.icon-send
          .col-lg-5
            h5 
              span.icon-contact  CONTACTO 
            hr.bg-light
            .col-lg-12.text-left
              p
                span.icon-map  Calle Union y Progreso #12354
            .col-lg-12.text-left
              p 
                span.icon-phone  948159652 - 969118068
            .col-lg-12.text-left
              p 
                span.icon-email   adeuce.ce@gmail.com
            .col-lg-12.text-left
              p 
                span.icon-facebook  
                  a(href="https://www.facebook.com/Asociacion-De-Estudiantes-Universitarios-De-Ciudad-EtenADEUCE-336184606423557/") ADEUCE - FanPage
              
    script(src="js/jquery-3.2.1.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/scroll.js")
  footer.text-center
    label Todos los derechos resevados®  @ADEUCE-2018  ||   
      a(href="http://www.fb.com/pedro.velasqez3") Pedro Velasquez 
  
